header{
    background-color: whitesmoke;
    text-align: center;
    
}
header h1{
    font-size: 50px;
}
.list{
    text-align: right;
    font-size: 25px;
}

ul{
  list-style: none;
}

main{
    background-color: red;
    text-align: center;
    
}


.content{
 background-color: yellow;
 width:30%;
 display: inline-block;
 height: auto;
 width: 500px;
}

footer {
    margin-top: auto;
    background-color: green;
 
}
